{% include 'user_nav_bar.html' %}    
        <div class="container-fluid">
                <h3 class="text-dark mb-4">{{name}}
                <a class="text-secondary" onclick="copyToClipboard('#p100')">
                <i data-toggle="tooltip" style="font-size: 20px;" class="fa fa-clipboard " title="Copy public link to your Identity."></i>
                </a>
                <p hidden id="p100" >{{clipboard}}</p>
                <h6 class="text-dark mb-4">{{profil_title}}</h6>
            <div class="row mb-3">
                <div class="col-md-6 col-lg-4 col-xl-4 offset-md-3 offset-lg-4 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Update your password</p>
                        </div>
                        <div class="card-body">
                            <form action="/user/update_password/" method="get">
                                <div class="form-row">
                                    <div class="col">
                                        <p>Your password must be updated to protect your data.<br><br></p>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 col-lg-6 col-xl-5">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Update</button></div>
                                    </div>
                                    <div class="col-6 col-lg-6 col-xl-5">
                                        <a href="/user/"><div class="form-group"><button class="btn btn-primary btn-sm" type="button">Later</button></a></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    {% include 'user_footer.html' %}
    </div>
    <script>function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
      }</script>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
