{% include 'guest_nav_bar.html' %}

        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-lg-8 col-xl-4 offset-xl-4">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">&nbsp;Confirmation</p>
                        </div>


                      <div class="card-body">
                            <form action="/issue/create_authorize_issue/" method="post">
                                <div class="form-row">
                                    <div class="col">
                                        <p>The certificate is now ready to be issued. To get a proof of the reliability of the issuer, one needs to create your own Identity on the network. More information&nbsp;<a href="talao.rtfd.io">http://talao.rtfd.io</a>.<br><br>Your
                                            email will be encrypted, your firstname and lastname will be publicly available. You will be able to complete your Identity to use it while keeping the ownership of your data.&nbsp;<br><br>If you
                                            accept to proceed&nbsp;fill the field below with the secret code you have just received by email.&nbsp;</p>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class="col-5 col-sm-3 col-lg-4 col-xl-4 offset-3 offset-sm-4 offset-lg-4 offset-xl-4">
                                        <div class="form-group"><label class="text-center">Secret Code</label><input class="form-control" type="text" name="code"></div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-6 col-xl-3">
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Accept</button></div>
                                    </div>
                                    <div class="col-6 col-xl-3">
										<a href="/login/">
													<div class="form-group"><button class="btn btn-primary btn-sm" type="button">Cancel</button></div>
													</a>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
                                                                   {% include 'user_footer.html' %}

    </div>
    <script src="{{ url_for('static', filename='chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='theme.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
