
{% if session['type'] == "company" %}
{% include 'company_nav_bar.html' %}
{% else %}
{% include 'user_nav_bar.html' %}
{% endif %}
        <div class="container mt-3">
          <div class="row justify-content-center">

            <h1> Tutorial 1: How to get a Proof of Identity ? </h1>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/APpwStJ_1Bs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h1 class="my-4"> Tutorial 2: How to add someone to your referent list ?</h1>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/DTRRmJfXzOA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h1 class="my-4"> Tutorial 3: How to download your own QR Code ?</h1>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/alJdQUQe_sQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h1 class="my-4"> Tutorial 4: How to request a certificate ? </h1>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/N5YMrrGjpaw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'user_footer.html' %}


  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
