
        {% include 'user_nav_bar.html' %}

        <div class="row justify-content-center  mt-3">
          <div class="card w-100 m-md-5 shadow" style="max-width: 1200px;">
            <div class="card-body">
              <div class="d-inline-flex w-100 m-0">
                <div class="col-md-2"><img src="{{offer['logo']}}" style="width: 110px;"></div>
                <div class="col-md-10 text-dark">
                  <p style="font-size: 18px;margin-bottom: 2px;"><strong>{{offer['title']}}</strong></p>
                  <div class="row">
                    <div class="col">
                      <p style="color: rgb(59,59,59);margin-bottom: 0px;">{{offer['company']}} </p>
                      <p style="margin-top: 5px;"><i class="fa fa-map-marker"></i>&nbsp;{{offer['location']}}&nbsp; &nbsp; &nbsp; &nbsp;<i class="fa fa-pencil"></i>&nbsp;{{offer['position']}}</p>
                    </div>
                    <div class="col text-right">
                      <form name="form" action="/view_job_offer?offer={{offer['number']}}" method="POST">
                        <button title="Apply to this job offer" class="btn btn-primary btn-lg mx-5" type="submit">Apply for this job</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row my-4">
                <p class="p-4 text-justify">{{offer['description']|safe}}</p>
              </div>
            </div>
          </div>
        </div>

        {% include 'user_footer.html' %}
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
